/*
 * estilos.css
 *
 * Hoja de estilos en cascada de la pagina web de la aplicación web
 * asincrona tempAsyncWebServer.
 *
 * El archivo se almacena en el sistema de archivos LittleFS en la
 * memoria flash del microcontrolador ESP32 para ahorrar espacio
 * en la memoria RAM
 */
 html {
    font-family: Helvetica;
   }
   h1, h2, p {
    text-align: center;
   }
   table {
    background-color: lightgray;
    border: 1px solid black;
    color: blue;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
   }
   th.derecha {
    text-align: right;
   }
   td {
    padding: 10px 20px;
   }
   input[type=submit] {
    background-color: lightblue;
    font-size: 20px;
   }